/* Normalize ================================================================ */
@import '../../vendor/scss/normalize';

/**
 * [Structure] ================================================================/
 */
* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax {
        height: 100%;
        position: relative;
    
        // .parallax__mountain
		&__mountain {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;

			// .parallax__mountain_1
			&_1 {
                background: url('../img/m_1.png') 0 0 / cover no-repeat;
			}

			// .parallax__mountain_2
			&_2 {
                background: url('../img/m_2.png') bottom right / 45% no-repeat;
                z-index: 1;
			}

			// .parallax__mountain_3
			&_3 {
                background: url('../img/m_3.png') left bottom / 100% no-repeat;
                z-index: 1;
			}
		}

		// .parallax__fog
		&__fog {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: url('../img/fog.png') bottom / 100% no-repeat;
            z-index: 2;
		}
}
.content {
    position: relative;

		// .content__body
		&__body {
            max-width: 1170px;
            margin: 0px auto;
		}

		// .content__header, .content__footer
		&__header, &__footer {
            margin-bottom: 20px;
            padding: 0 20px;
            text-align: center;
            text-transform: uppercase;
		}

		// .content__title
		&__title {
            font-size: 180px;
		}

		// .content__subtitle
		&__subtitle {
            font-size: 100px;
		}

		// .content__article
		&__article {
            margin-bottom: 50px;
            padding: 20px 20px 20px 20px;
            font-size: 1.5rem;
            line-height: 2rem;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 20px;

            p {
                margin-bottom: 20px;
            }
        }
        
}
